/* solarized colors */
:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;

  --app-margin: 0.5rem;
}

html {
  height: 100%;
  margin: 0 !important;
  background-color: var(--base3) !important;
}

nav {
  margin: 0.25rem 0 !important;
}

body {
  font-family: "Fira Code";
  font-weight: 300;

  background-color: var(--base3);
  color: var(--base00);
  * {
    color: var(--base00);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--base01);
    border-color: var(--base00);
  }
  a,
  a:active,
  a:visited {
    color: var(--base1);
  }
}


input, textarea {
  color: var(--base0);
  background-color: var(--base2);
  border: 0pt;
  font-family: "Fira Code";
  font-weight: 300;
  width: 100%;
}

textarea:focus, input:focus{
  outline: solid;
  outline-width: thin;
  outline-color: var(--base0);
}

#app {
  height: calc(100vh - 2 * var(--app-margin));
  margin: var(--app-margin);
}

#drs-wrapper {
  display: flex;
  margin: 0;
}

#term-textarea-wrapper {
  width: 100%;
  flex-grow: 1;
}

#terminal, #output {
  width: 50%;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(40,40,40,.3);
  border-radius: 50%;
  border-top-color: #502020;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
